.slider_popup_image {
    height:258px;
    width:258px;
}

.slider_catering {
    height: 300px;
    width: 300px;
}
.testimonial .flexslider-testimonial {
    min-height: 21em;
}
.map {
    width: 100%;
    height: 25em;
}