.slider_popup_image {
    height:258px;
    width:258px;
}

.slider_catering {
    height: 300px;
    width: 300px;
}
.testimonial .flexslider-testimonial {
    min-height: 21em;
}
.map {
    width: 100%;
    height: 25em;
}
.menu .menu-details ul li span {
    width: auto;
    padding: 0 3px;
}
.menu-list-item {
    color: black;
}

.contact_row {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #959595;
}

.raised_text {
    text-shadow: 1px 1px 1px black;
}
@media (max-width: 991px) {

    .showcase .showcase-item .coffee_image {
        margin-bottom: 3em;
    }
}


.grubhub-link img {
    margin: 1em auto;
}