.menu-item-name {
    font-weight: bold;
}

.menu-item-subtext {
    font-weight: ligther;
    font-size: 0.9em;
}

.menu-list-asterisk {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    min-height: 3em;
    line-height: 3;
}

.menu img.menu-img {
    margin-bottom: 0;
}

.menu h3 {
    top: 33%;
}

.menu .menu-head .title-border {
    top: 60%;
}

.menu h3.medium-heading {
    font-size: 4em;
}